<h1 class="title has-text-centered">Добро пожаловать в наш ресторан - <a href="/">А ПАХНЕ ЯК!</a></h1>
<h2 class="title has-text-centered">Чем мы отличаемся от других ресторанов? <strong style="color: red">Мы
    работаем 24/7 :)</strong></h2>
<p class="has-text-centered"><strong>Чтобы заказать у нас столик, пройдите всего несколько шагов!</strong>
</p>
<div style="background: aliceblue; margin-top: 3%">
    <p class="has-text-centered">1. Выберите зал</p>
    <p class="has-text-centered">2. Выберите дату и время</p>
    <p class="has-text-centered">3. Выберите столик</p>
    <p class="has-text-centered">4. Укажите ваши контактные данные (email)</p>
    <p class="has-text-centered">5. Подтвердите бронирование</p>
</div>